<!DOCTYPE html>
<html lang="en">

<body>
    

    <section class="car_tıtle">
        <div class="title">
            <h2>CAR TITLE</h2>
        </div>
        <div class="container" style="display: flex; flex-direction: row; grid-gap: 1rem">
            <div class="car-big" style="width: 25%; display: flex; flex-direction: column; grid-gap: 0.5rem">
                <a href="https://cdn.discordapp.com/attachments/1169697645309198408/1169708515875627049/image.png?ex=655662f2&is=6543edf2&hm=ceab3df9866e6f447cec0f009b5329bab90a8c5d70014b6e104ac3af03e16d0c&" data-lightbox="car-gallery" data-title="Büyük araba">
                    <img src="https://cdn.discordapp.com/attachments/1169697645309198408/1169708515875627049/image.png?ex=655662f2&is=6543edf2&hm=ceab3df9866e6f447cec0f009b5329bab90a8c5d70014b6e104ac3af03e16d0c&" alt="Büyük araba">
                </a>
            </div>
            <ul class="car-info">
                <li><strong>Primary key: x</strong></li>
                <hr style="border-top: 1px solid #000000" />
                <li><strong>Marka: Marka 1</strong></li>
                <hr style="border-top: 1px solid #000000" />
                <li><strong>Model: Model 1</strong></li>
                <hr style="border-top: 1px solid #000000" />
                <li><strong>Yıl: 2023</strong></li>
            </ul>
            <div class="car-small">
                <a href="https://cdn.discordapp.com/attachments/1169697645309198408/1169708577301205094/image.png?ex=65566300&is=6543ee00&hm=f722eb9989bc3d41c2d39dcc2155670d3b036902bdebdbad19da3602c434284a&" data-lightbox="car-gallery" data-title="Küçük araba 1">
                    <img src="https://cdn.discordapp.com/attachments/1169697645309198408/1169708577301205094/image.png?ex=65566300&is=6543ee00&hm=f722eb9989bc3d41c2d39dcc2155670d3b036902bdebdbad19da3602c434284a&" alt="Küçük araba 1">
                </a>
            </div>
            <div class="car-small">
                <a href="https://cdn.discordapp.com/attachments/1169697645309198408/1169708614185914408/image.png?ex=65566309&is=6543ee09&hm=3601e35de788c36526d1911c51a5f954ad820739666ff033839c73cf9360f98a&" data-lightbox="car-gallery" data-title="Küçük araba 2">
                    <img src="https://cdn.discordapp.com/attachments/1169697645309198408/1169708614185914408/image.png?ex=65566309&is=6543ee09&hm=3601e35de788c36526d1911c51a5f954ad820739666ff033839c73cf9360f98a&" alt="Küçük araba 2">
                </a>
            </div>
        </div>
    </section>

    

    <script src="js/main.js"></script>

</body>
</html>
