<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/car_detail.css">
</head>
<body>

    <section class="car_tıtle">
        <div class="title">
            <h2>CAR TITLE</h2>
        </div>

        <div style="display: flex; justify-content: center; flex-wrap: wrap; width: 100%">
            <div style="width: 25%; padding: 0.5rem">
                <img class="hover-shadow cursor" src="img/car1.jpg" style="width:100%" onclick="openModal();currentSlide(1)" alt="Car 1">
            </div>
            <div style="width: 25%; padding: 0.5rem">
                <img class="hover-shadow cursor" src="img/car2.jpg" style="width:100%" onclick="openModal();currentSlide(2)" alt="Car 2">
            </div>
            <div style="width: 25%; padding: 0.5rem">
                <img class="hover-shadow cursor" src="img/car3.jpg" style="width:100%" onclick="openModal();currentSlide(3)" alt="Car 3">
            </div>
            <div style="width: 25%; padding: 0.5rem">
                <img class="hover-shadow cursor" src="img/car4.jpg" style="width:100%" onclick="openModal();currentSlide(4)" alt="Car 4">
            </div>
        </div>

        <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">

                <div class="mySlides">
                    <div class="numbertext">1 / 3</div>
                    <img src="img/car1.jpg" style="width:60%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">2 / 3</div>
                    <img src="img/car2.jpg" style="width:60%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">3 / 3</div>
                    <img src="img/car3.jpg" style="width:60%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">4 / 4</div>
                    <img src="img/car4.jpg" style="width:60%">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <div class="caption-container">
                    <p id="caption"></p>
                </div>

                <div class="column">
                    <img class="demo cursor" src="img/car1.jpg" style="width:100%" onclick="currentSlide(1)" alt="Car 1">
                </div>
                <div class="column">
                    <img class="demo cursor" src="img/car2.jpg" style="width:100%" onclick="currentSlide(2)" alt="Car 2">
                </div>
                <div class="column">
                    <img class="demo cursor" src="img/car3.jpg" style="width:100%" onclick="currentSlide(3)" alt="Car 3">
                </div>
            </div>
        </div>

        <div clas="container">
            <section class="brand-row" style="display:flex; flex-direction: row; grid-gap: 1rem; width:60% ">
                <section class="left" style="display:flex; flex-direction: column; grid-gap: 6rem; width:50%">

                    <strong>Marka</strong>

                </section>

                <section class="right" style="display:flex; flex-direction: column; grid-gap: 6rem; width:50%">

                    <a>BMW</a>

                </section>
            </section>

            <section class="price-row" style="display:flex; flex-direction: row; grid-gap: 1rem; width:60% ">
                <section class="left" style="display:flex; flex-direction: column; grid-gap: 1rem; width:50%">

                    <strong>FİYAT</strong>

                </section>

                <section class="right" style="display:flex; flex-direction: column; grid-gap: 1rem; width:50%">

                    <a>100.000</a>

                </section>
            </section>

            <section class="km-row" style="display:flex; flex-direction: row; grid-gap: 1rem; width:60% ">
                <section class="left" style="display:flex; flex-direction: column; grid-gap: 1rem; width:50%">

                    <strong>KM</strong>

                </section>

                <section class="right" style="display:flex; flex-direction: column; grid-gap: 1rem; width:50%">

                    <a>5.000</a>

                </section>
            </section>

            <section class="color-row" style="display:flex; flex-direction: row; grid-gap: 1rem; width:60% ">
                <section class="left" style="display:flex; flex-direction: column; grid-gap: 1rem; width:50%">

                    <strong>RENK</strong>

                </section>

                <section class="right" style="display:flex; flex-direction: column; grid-gap: 1rem; width:50%">

                    <a>Kırmızı, Yeşil</a>

                </section>
            </section>

            <section class="year-row" style="display:flex; flex-direction: row; grid-gap: 1rem; width:60% ">
                <section class="left" style="display:flex; flex-direction: column; grid-gap: 1rem; width:50%">

                    <strong>ARAÇ YAŞI</strong>

                </section>

                <section class="right" style="display:flex; flex-direction: column; grid-gap: 1rem; width:50%">

                    <a>2001</a>

                </section>
            </section>

            <section class="car-of-info" style="display:flex; flex-direction: row; grid-gap: 1rem; width:100% ">

                <div class="info-text">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                    in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                    are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden
                    in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks
                    as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin
                    words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks
                    reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour,
                    or non-characteristic words etc.
                </div>

            </section>
        </div>
    </section>

    <script>

        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }

        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }

        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }

    </script>

</body>
</html>




