@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>


    <!--home-->
    <section class="home" id="home" style="background-image: url(img/background.png);
             background-repeat: no-repeat;
             background-position: center right;
             background-size: cover;">
        <div class="text">
            <h1><span>Looking</span> to <br>rent a car</h1>
            <p>Lorem ipsum dolor sit amet consectetur adi <br>pisicing elit. Fuga, ut qui.</p>
        </div>
    </section>

    <!--car_model-->
    <section class="car_models" id="car_models">
        <div class="heading">
            <span>Car Models</span>
            <h1>Choose a car model</h1>
        </div>
        <div class="container">
            <div class="box">
                <div class="imgBox">
                    <a href="CarBuy?brandFilter=1">
                        <img src="img/audi.jpg" alt="" />
                    </a>

                </div>
                <div class="content">
                    <a><span>AUDI</span></a>
                </div>
            </div>

            <div class="box">
                <div class="imgBox">
                    <a href="CarBuy?brandFilter=2">
                        <img src="img/honda.jpg" alt="" />
                    </a>
                </div>
                <div class="content">
                    <a><span>HONDA</span></a>
                </div>
            </div>

            <div class="box">
                <div class="imgBox">
                    <a href="CarBuy?brandFilter=3">
                        <img src="img/mercedes.jpg" alt="" />
                    </a>
                </div>
                <div class="content">
                    <a><span>MERCEDES</span></a>
                </div>
            </div>

            <div class="box">
                <div class="imgBox">
                    <a href="CarBuy?brandFilter=4">
                        <img src="img/toyota.jpg" alt="" />
                    </a>
                </div>
                <div class="content">
                    <a><span>TOYOTA</span></a>
                </div>
            </div>

            <div class="box">
                <div class="imgBox">
                    <a href="CarBuy?brandFilter=5">
                        <img src="img/ds.jpg" alt="" />
                    </a>
                </div>
                <div class="content">
                    <a><span>DS</span></a>
                </div>
            </div>

            <div class="box">
                <div class="imgBox">
                    <a href="CarBuy?brandFilter=6">
                        <img src="img/bmw.jpg" alt="" />
                    </a>
                </div>
                <div class="content">
                    <a><span>BMW</span></a>
                </div>
            </div>
        </div>
    </section>

    <!--about-->

    <hr style="border-top: 5px double #000000" />
    <section class="about" id="about">
        <div class="description">
            <div class="column_one">
                <h2 class="first_name">Nisa Nur ERARSLAN</h2>
                <ul>
                    <li>200444044</li>
                    <li>Computer Engineering</li>
                    <li>Frontend</li>
                </ul>
            </div>

            <div class="column_two">
                <h2 class="second_name">Fatih ÜNAL</h2>
                <ul>
                    <li>200444044</li>
                    <li>Computer Engineering</li>
                    <li>Backend</li>
                </ul>
            </div>

            <div class="column_three">
                <h2 class="third_name">İsmail Deniz COŞKUN</h2>
                <ul>
                    <li>200444044</li>
                    <li>Computer Engineering</li>
                    <li>Data</li>
                </ul>
            </div>

            <div class="column_four">
                <h2 class="fourth_name">Sıla POLAT</h2>
                <ul>
                    <li>200444044</li>
                    <li>Computer Engineering</li>
                    <li>Data</li>
                </ul>
            </div>
        </div>
    </section>


    <script src="js/main.js"></script>




</body>

</html>