@{
    ViewData["Title"] = "Car";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/car_buy.css">
    <link rel="icon" type="image/car-icaon" href="img/favicon.png">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>


<body>
    <!--home-->
    <section class="home" id="home" style="display: flex; flex-direction: row; grid-gap: 1rem">
        <div style="width: 25%; display: flex; flex-direction: column; grid-gap: 0.5rem">
            <label for="search">FILTERING</label>
            <input id="search" placeholder="Arama Yap..." type="text">

            <label for="filter_brand">BRAND</label>
            <select id="filter_brand"></select>

            <label for="color">COLOR</label>
            <select id="color"></select>

            <label for="fuel">FUEL TYPE</label>
            <select id="fuel"></select>

            <label for="gear">GEAR TYPE</label>
            <select id="gear"></select>

            <label>YEAR</label>
            <form class="ff_v8">
                <span class="fpl_v8">
                    <input type="hidden" id="pfbu1" value="">
                    <div id="pfb1">Please enter year range</div>
                    <span class="pf_iw">
                        <input id="pf1" placeholder="minimum" type="number" maxlength="4" value="">
                        <text>-</text>
                        <input id="pf2" placeholder="maximum" type="number" maxlength="4" value="">
                        <button>
                            >
                        </button>
                    </span>
                </span>
            </form>

            <label>PRICE</label>
            <form class="ff_v8">
                <span class="fpl_v8">
                    <input type="hidden" id="pfbu1" value="">
                    <div id="pfb1">Please enter km range</div>
                    <span class="pf_iw">
                        <input id="pf1" placeholder="minimum" type="number" maxlength="15" value="">
                        <text>-</text>
                        <input id="pf2" placeholder="maximum" type="number" maxlength="15" value="">
                        <button>
                            >
                        </button>
                    </span>
                </span>
            </form>

            <label>KM</label>
            <form class="ff_v8">
                <span class="fpl_v8">
                    <input type="hidden" id="pfbu2" value="">
                    <div id="pfb2">Please enter price range</div>
                    <span class="pf_iw">
                        <input id="pf3" placeholder="minimum" type="text" maxlength="10" value="">
                        <text>-</text>
                        <input id="pf4" placeholder="maximum" type="text" maxlength="10" value="">
                        <button>
                            >
                        </button>
                    </span>
                </span>
            </form>

            <div class="submit">
                <button class="submit_button" id="btnSearch" type="button">Find Cars</button>
            </div>
            <button class="delete_button" id="btnClear" type="button">Delete</button>

        </div>
        <div style="width: 75%">
            <div style=" overflow-x: auto;">

                <table class="table_name table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Brand Name</th>
                            <th>Color Name</th>
                            <th>Price</th>
                            <th>Model Year</th>
                            <th>Image</th>
                            <th>Detail</th>

                        </tr>
                    </thead>
                    <tbody id="list_data">
                    </tbody>
                </table>

            </div>
        </div>
    </section>

    <script src="js/main.js"></script>

    <script>
        $(document).ready(function () {

            loadCarList();

        });


        const filter_brand_select = document.getElementById('filter_brand')
        filter_brand_select.innerHTML = ['marka1', 'marka2', 'marka3'].map(item => '<option>' + item + '</option>')







        function loadCarList() {
            var tbody = $("#list_data");
            tbody.empty();

            const urlParams = new URLSearchParams(window.location.search);

            $.ajax({
                url: "@Url.Action("GetCarDetails","CarBuy")",
                method: "POST",
                dataType: "json",
                data: {
                    brandFilter: urlParams.get('brandFilter'),
                }, // Filtre parametresini gönder
                success: function (response) {
                    $.each(response, function (index, item) {
                        console.log(item)
                        var row = `
                                    <tr>
                                        <td>${item.brandName}</td>
                                        <td>${item.colorName}</td>
                                        <td>${item.price}</td>
                                        <td>${item.modelYear}</td>
                                        <td>${item.carImage}</td>
                                        <td>
                                            <button class="detailCar_Btn btn btn-primary" data-product-id="${item.id}">Detail</button>
                                        </td>
                                    </tr>`;
                        tbody.append(row);
                    });
                },
                error: function (error) {
                    console.error("Error loading car list:", error);
                }
            });
        }


    </script>

</body>
</html>
