@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: #fe5b3d;
    --second-color: #ffac38;
    --text-color: #444;
    --back-color: #eeeff1;
    --gradinet: linear-gradient(#fe5b3d, #ffac38)
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}

section {
    padding: 50px 100px;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #cccccc;
    padding: 15px 100px;
}

.title p {
    margin: 0 1px;
}

header .logo {
    font-size: 16px;
    font-weight: 567;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
}

.logo img {
    width: 40px;
}

.navbar {
    display: flex;
}

    .navbar li {
        position: relative;
    }

    .navbar a {
        font-size: 1rem;
        padding: 10px 20px;
        color: var(--text-color);
        font-weight: 500;
    }

        .navbar a::after {
            content: '';
            width: 0;
            height: 3px;
            background: var(--gradinet);
            position: absolute;
            bottom: -4px;
            left: 0;
            transition: 0.5s;
        }

        .navbar a:hover:after {
            width: 100%;
        }

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.home {
    background: var(--back-color);
}

.title:before {
    display: table;
    content: "";
}

.title:after {
    clear: both;
}

.header-btn a {
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.submit_button.static {
    position: sticky;
    background: transparent;
    border: 0;
    border-radius: 0;
}

.submit_button {
    padding: 10px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #d5d3d3;
    width: 250px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background: #474fa0;
    color: #FFF;
    border-radius: 0.5rem;
    cursor: pointer;
}

    .submit_button:hover {
        background: var(--second-color);
    }

.delete_button.static {
    position: sticky;
    background: transparent;
    border: 0;
    border-radius: 0;
}

.delete_button {
    padding: 10px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #d5d3d3;
    width: 250px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background: var(--main-color);
    color: #FFF;
    border-radius: 0.5rem;
    cursor: pointer;
}

    .delete_button:hover {
        background: var(--second-color);
    }

select {
    border-radius: 6px 6px 6px 6px;
    height: 35px;
}

label {
    font-weight: bold;
    font-family: "Roboto Light", serif;
}

.filter {
    font-weight: bold;
    font-size: 27px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--second-color);
    text-align: center
}

text {
    color: black;
}

.ff_v8 {
    background-color: #FFFFFF;
    padding: 17px 12px 10px 20px;
    margin-bottom: 10px;
    display: block;
    border-radius: 10px;
    border: 1px solid #504e4e;
    box-shadow: 1px 1px 2px #736e6e;
}

    .ff_v8 #pfb1, #pfb2 {
        color: #ee2121;
        font-size: .9em;
        line-height: normal;
        margin-bottom: 8px;
    }

    .ff_v8 .pf_iw {
        display: flex;
        position: relative;
        margin-bottom: 18px;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #D2D7DD;
    }

        .ff_v8 .pf_iw > input {
            border: 2px solid #D2D7DD;
            width: 38%;
            border-radius: 6px;
            height: 36px;
            padding: 0 10px;
            box-sizing: border-box;
            background: #FBFBFB;
        }

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 1.3em;
        width: 1.3em;
        background: var(--main-color);
        cursor: pointer;
        margin-top: -1px;
        pointer-events: auto;
        border-radius: 50%;
    }

    input[type="range"]:active::-webkit-slider-thumb {
        background-color: #ffffff;
        border: 2px solid var(--main-color);
    }

.submit,
.delete {
    text-align: center;
}

* {
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

.table_name {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    top: 0;
    z-index: 1;
}

th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    border: 1px solid #ddd;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-wrapper {
    overflow-x: auto;
}

.copyright {
    width: 100%;
    text-align: center;
    position: absolute;
    background-color: #CCCCCC;
}
