@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: #fe5b3d;
    --second-color: #ffac38;
    --text-color: #444;
    --back-color: #eeeff1;
    --gradinet: linear-gradient(#fe5b3d, #ffac38)
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    background: var(--back-color);
}

section {
    padding: 50px 100px;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #cccccc;
    padding: 15px 100px;
}

.title p {
    margin: 0 1px;
}

header .logo {
    font-size: 16px;
    font-weight: 567;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
}

.logo img {
    width: 40px;
}

.navbar {
    display: flex;
}

    .navbar li {
        position: relative;
    }

    .navbar a {
        font-size: 1rem;
        padding: 10px 20px;
        color: var(--text-color);
        font-weight: 500;
    }

        .navbar a::after {
            content: '';
            width: 0;
            height: 3px;
            background: var(--gradinet);
            position: absolute;
            bottom: -4px;
            left: 0;
            transition: 0.5s;
        }

        .navbar a:hover:after {
            width: 100%;
        }

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.home {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.text h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
}

.text span {
    color: var(--main-color);
}

.text p {
    margin: 0.05rem 0 1rem;
}

.car_models {
    background: var(--back-color);
}

.heading {
    text-align: center;
}

    .heading span {
        font-weight: 500;
        text-transform: uppercase;
    }

    .heading h1 {
        font-size: 2rem;
    }

.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

    .container .box {
        position: relative;
        width: 15rem;
        height: 15rem;
        margin: 3rem;
    }

.box {
    border: none;
    border-radius: 40px 40px 40px 40px;
}

.container .box:hover .imgBox {
    transform: translate(-1.5rem, -1.5rem);
    border-radius: 40px 40px 40px 40px;
}

.container .box:hover .content {
    transform: translate(3.5rem, 3.5rem);
    border-radius: 40px 40px 40px 40px;
}

.imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

    .imgBox img {
        width: 15rem;
        height: 15rem;
        border-radius: 40px 40px 40px 40px;
        object-fit: cover;
        resize: both;
    }

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 40px 40px 40px 40px;
    display: flex;
    justify-content: center;
    background-color: #cccccc;
    z-index: 1;
    align-items: flex-end;
    text-align: center;
    transition: 0.5s ease-in-out;
}

    .content span {
        color: var(--text-color);
        font-size: 1.9rem;
        font-weight: 400;
        letter-spacing: 5px;
    }

.about {
    background: #cccccc;
    display: flex;
    flex-direction: row;
    position: relative;
}

.description {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    grid-gap: 13rem;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.copyright {
    width: 100%;
    position: absolute;
    text-align: center;
    background-color: #CCCCCC;
}
